body {
    margin: 0;
}

#kanvaasi {
/*    display: block; */
/*    margin: auto;  */
    border: 1px solid black;
    margin-top: 10px;
    opacity: 0;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/*
#odota {
    display: none;
    text-align: center;
    position: fixed;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#spin1 {
    width: 40px;
    height: 40px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-left: 4px solid lightgrey;
    border-right: 4px solid lightgrey;
    border-radius: 50%;
    animation: pyoritys 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 33%; 
    transform: translate(-50%, -50%);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background-color: rgb(135, 206, 235);
    border: 6px solid rgb(85, 114, 1);
    color:rgb(92, 124, 211);
    border-radius: 10px;
    width: 350px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    box-shadow: 8px 8px rgb(147, 148, 148);
}
*/

#odota {
    position: relative;
    left: 50%;
    transform: translate(-50%, -340px);
    width: 350px;
    height: 70px;
    background-color: rgb(135, 206, 235);
    border: 6px solid rgb(85, 114, 1);
    border-radius: 10px;
    box-shadow: 8px 8px rgb(147, 148, 148);
    text-align: center;
}

@keyframes pyoritys {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#spin {
    display: inline-block;
    margin: 16px 0 0 0;
    width: 25px;
    height: 25px;
    border: 5px solid;
    border-color: rgb(135, 206, 235) rgb(92, 124, 211);
    border-radius: 50%;
    animation: pyoritys 1s linear infinite;
}

#odota h1 {
    display: inline-block;
    font-size: 40px;
    margin-left: 16px;
    margin-top: 0;
    color:rgb(92, 124, 211);
    vertical-align: middle;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nappulat {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.5;
    height: 0;
    width: 100vw;
}

#info {
    position: fixed;
    display: none;
}

/*
Breakpoint Setting	For Device
max-width 420px	Smaller devices
max-width 600px	Phones
min-width 600px	Tablets and Large Phones
min-width 768px	Tablets
min-width 992px	Laptops and Desktops
min-width 1200px	Monitors, Desktops

410+ 0,4
512+ 0,5
614+ 0,6
717+ 0,7
819+ 0,8
922+ 0,9
1024 1
*/

@media only screen and (max-width: 511.99px) {
    #kanvaasi {
        transform: scale(0.4);
        transform-origin: 50% 0;
    }
    
}

@media only screen and (min-width: 512px) and (max-width: 613.99px) {
    #kanvaasi {
        transform: scale(0.5);
        transform-origin: 50% 0;
    }
    
}

@media only screen and (min-width: 614px) and (max-width: 716.99px) {
    #kanvaasi {
        transform: scale(0.6);
        transform-origin: 50% 0;
    }
    
}

@media only screen and (min-width: 717px) and (max-width: 818.99px) {
    #kanvaasi {
        transform: scale(0.7);
        transform-origin: 50% 0;
    }
    
}

@media only screen and (min-width: 819px) and (max-width: 921.99px) {
    #kanvaasi {
        transform: scale(0.8);
        transform-origin: 50% 0;
    }
    
}

@media only screen and (min-width: 922px) and (max-width: 1023.99px) {
    #kanvaasi {
        transform: scale(0.9);
        transform-origin: 50% 0;
    }
    
}


/*
@media only screen and (max-width: 819px) and (min-width: 614px) {
    #kanvaasi {
        transform: scale(0.6);
        transform-origin: 50% 0;
    }
    
}

@media only screen and (max-width: 1024px) and (min-width: 820px) {
    #kanvaasi {
        transform: scale(0.8);
        transform-origin: 50% 0;
    }
    
}
*/

@media only screen and (min-width: 1540px) {
    #kanvaasi {
        transform: scale(1.5);
        transform-origin: 50% 0;
    }
}

