body {
    margin: 0;
}

#kanvaasi {
    display: block;
    margin: auto;
}
/* Terttu lisännyt tautakuvaa varten */
#kanvas {
    background-image: url('tausta.png'); /* Käytä oikeaa tiedostonimeä */
    background-size: cover;
}