body {
    margin: 0;
}

#kanvaasi {
    display: block;
    margin: auto;
}
/* Terttu lisännyt tautakuvaa varten */
#kanvas {
    background-color: aqua;
    background-image: url('kerros0-1024x288AurinkoPilvet.png'); /* Käytä oikeaa tiedostonimeä */
    background-size: cover;
    
}

.aloitusteksti {
    font-size: 14px;
    display: flex;
    flex-direction: column; /* Aseta sisältö pystysuoraan */
    align-items: center; /* Keskitä sisältö vaakasuunnassa */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.aloitusteksti h3 {
    padding: 0 200px;
    position: absolute;
    /*font-family: 'Permanent Marker', sans-serif;*/
    /*font-family: 'Vina Sans', sans-serif;*/
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Rowdies', sans-serif;*/
    /*font-family: 'Tourney', sans-serif;*/
    /*font-family: 'Kaushan Script', cursive;*/
    /*font-family: 'Fredericka the Great', serif;*/
    /*font-family: 'Rye', serif;*/
    font-family: 'Henny Penny', serif;

    font-size: 30px;
    text-align: center;
    color:rgb(233, 88, 4);
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/

}

.aloitusteksti h2 {
    padding: 80px 200px;

    /*font-family: 'Permanent Marker', sans-serif;*/
    /*font-family: 'Vina Sans', sans-serif;*/
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Rowdies', sans-serif;*/
    /*font-family: 'Tourney', sans-serif;*/
    /*font-family: 'Kaushan Script', cursive;*/
    /*font-family: 'Fredericka the Great', serif;*/
    /*font-family: 'Rye', serif;*/
    font-family: 'Henny Penny', serif;
    font-size: 40px;
    text-align: center;
    color:rgb(233, 88, 4);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    white-space: nowrap;
}