#gameCanvas {
    /*background-color: aqua;*/
    background-image: url('taustaLinnut4.png'); /* Käytä oikeaa tiedostonimeä */
    background-size: cover;
}
h1 {
    position: absolute;
    padding-top: 25px;
    top: 258px;
    left: 412px;
    background-color: rgb(135, 243, 121);
    border: 6px solid rgb(134, 83, 5);
    border-radius: 10px;
    width: 250px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    font-family:'Vina Sans, sans-serif';
}

@font-face {
    font-family: 'Vina Sans';
    src: url('VinaSans-Regular.ttf') format('ttf');
}