
body {
    margin: 0;
    overflow: hidden;
}

.animated-image {
position: absolute;
transition: transform 0.5s ease-out; /* Käytetään CSS-transitionia animointiin */
}

#gameCanvas {
    /*background-color: aqua;*/
    background-image: url('taustaLinnut4.png'); /* Käytä oikeaa tiedostonimeä */
    background-size: cover;
}
body {
    font-family: 'Vina Sans', sans-serif
}

h1 {
    position: absolute;
    padding-top: 25px;
    top: 258px;
    left: 412px;
    background-color: rgb(135, 206, 235);
    border: 6px solid rgb(85, 114, 1);
    color:rgb(92, 124, 211);
    border-radius: 10px;
    width: 250px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    box-shadow: 8px 8px rgb(147, 148, 148);
}


@font-face {
    font-family: 'Vina Sans';
    src: url('VinaSans-Regular.ttf');
  }